<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>
    Welcome to {{title}}!
  </h1>
  <br>
  <p>This awesome personal page is still under contruction. Please come back soon.</p>
  <br>
  <a href="https://twitter.com/#!/jayamorin" title="Follow @jayamorin on Twitter">Twitter</a> &nbsp; | &nbsp;
  <a href="https://github.com/jayamorin" title="Follow @jayamorin on GitHub">GitHub</a> &nbsp; | &nbsp;
  <a href="https://www.linkedin.com/in/jayamorin" title="Join my Network on LinkedIn">LinkedIn</a>
</div>
